<div>
  <h2 id="page-heading" data-cy="AppointmentDefinitionHeading">
    <span jhiTranslate="onlineAppointmentApp.appointmentDefinition.home.title">Appointment Definitions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="onlineAppointmentApp.appointmentDefinition.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-appointment-definition"
        [routerLink]="['/appointment-definition/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="onlineAppointmentApp.appointmentDefinition.home.createLabel"> Create a new Appointment Definition </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="appointmentDefinitions?.length === 0">
    <span jhiTranslate="onlineAppointmentApp.appointmentDefinition.home.notFound">No appointmentDefinitions found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="appointmentDefinitions && appointmentDefinitions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="onlineAppointmentApp.appointmentDefinition.startTime">Start Time</span></th>
          <th scope="col"><span jhiTranslate="onlineAppointmentApp.appointmentDefinition.endTime">End Time</span></th>
          <th scope="col"><span jhiTranslate="onlineAppointmentApp.appointmentDefinition.name">Name</span></th>
          <th scope="col">
            <span jhiTranslate="onlineAppointmentApp.appointmentDefinition.allowRescheduleNoSoonerThan"
              >Allow Reschedule No Sooner Than</span
            >
          </th>
          <th scope="col">
            <span jhiTranslate="onlineAppointmentApp.appointmentDefinition.allowRescheduleNoLaterThan">Allow Reschedule No Later Than</span>
          </th>
          <th scope="col">
            <span jhiTranslate="onlineAppointmentApp.appointmentDefinition.allowScheduleNoSoonerThan">Allow Schedule No Sooner Than</span>
          </th>
          <th scope="col">
            <span jhiTranslate="onlineAppointmentApp.appointmentDefinition.allowScheduleNoLaterThan">Allow Schedule No Later Than</span>
          </th>
          <th scope="col">
            <span jhiTranslate="onlineAppointmentApp.appointmentDefinition.numberOfReschedule">Number Of Reschedule</span>
          </th>
          <th scope="col"><span jhiTranslate="onlineAppointmentApp.appointmentDefinition.duration">Duration</span></th>
          <th scope="col"><span jhiTranslate="onlineAppointmentApp.appointmentDefinition.categoryName">Category Name</span></th>
          <th scope="col"><span jhiTranslate="onlineAppointmentApp.appointmentDefinition.categoryId">Category Id</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let appointmentDefinition of appointmentDefinitions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/appointment-definition', appointmentDefinition.id, 'view']">{{ appointmentDefinition.id }}</a>
          </td>
          <td>{{ appointmentDefinition.startTime | formatMediumDate }}</td>
          <td>{{ appointmentDefinition.endTime | formatMediumDate }}</td>
          <td>{{ appointmentDefinition.name }}</td>
          <td>{{ appointmentDefinition.allowRescheduleNoSoonerThan }}</td>
          <td>{{ appointmentDefinition.allowRescheduleNoLaterThan }}</td>
          <td>{{ appointmentDefinition.allowScheduleNoSoonerThan }}</td>
          <td>{{ appointmentDefinition.allowScheduleNoLaterThan }}</td>
          <td>{{ appointmentDefinition.numberOfReschedule }}</td>
          <td title="{{ appointmentDefinition.duration }}">{{ appointmentDefinition.duration | duration }}</td>
          <td>
            <div *ngIf="appointmentDefinition.categoryName">
              <a [routerLink]="['/appointment-category', appointmentDefinition.categoryName?.id, 'view']">{{
                appointmentDefinition.categoryName?.categoryName
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="appointmentDefinition.categoryId">
              <a [routerLink]="['/appointment-category', appointmentDefinition.categoryId?.id, 'view']">{{
                appointmentDefinition.categoryId?.id
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/appointment-definition', appointmentDefinition.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/appointment-definition', appointmentDefinition.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(appointmentDefinition)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
