<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="appointmentCategory">
      <h2 data-cy="appointmentCategoryDetailsHeading">
        <span jhiTranslate="onlineAppointmentApp.appointmentCategory.detail.title">Appointment Category</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ appointmentCategory.id }}</span>
        </dd>
        <dt><span jhiTranslate="onlineAppointmentApp.appointmentCategory.categoryName">Category Name</span></dt>
        <dd>
          <span>{{ appointmentCategory.categoryName }}</span>
        </dd>
        <dt><span jhiTranslate="onlineAppointmentApp.appointmentCategory.hosts">Hosts</span></dt>
        <dd>
          <span>{{ appointmentCategory.hosts }}</span>
        </dd>
        <dt><span jhiTranslate="onlineAppointmentApp.appointmentCategory.userId">User Id</span></dt>
        <dd>
          <span>{{ appointmentCategory.userId?.login }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/appointment-category', appointmentCategory.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
